@import url(./Styles/global.css);
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

    /* -----Navigation Section----- */
.navigationSection{
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* outline: 1px solid pink; */
    
    

}
.logo{
    height: auto ;
    width: 8rem;
    /* border: 3px solid yellow; */
}
.navLinks{
    display: flex;
    flex-direction: row;
}
.navLinkItem{
    padding: .5rem 1rem;
}
.navLinkItem a{
    font-size: 1.4rem;
    font-weight: 400;
}

/* 
body{
    background-color: var(--Cyan-CTA-Gr);
}  */
        /* ----Homepage Section------ */
        .home{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color:var(--Dark-Blue-Intro);
            position:relative;
            width: 100%;
            max-width: 42.5rem ;

            
        }

        /* ------Introduction Section----- */
        .introSection{
            /* border: 1px solid pink; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            /* background-color: var(--Dark-Blue-Intro); */
            background: url(./images/bg-curvy-mobile.svg) no-repeat bottom ;
            background-size:200%;
        }
        .introIllus{
            height: 24rem;
            width: auto;
            margin-top: 4rem;
        }
        .introText{
            font-size:2.5rem;
            /* border: 1px solid red; */
            padding: 2rem;
        }
        .introPgraph{
            font-size: var(--Font-Body);
            padding: 2rem 4rem;
            /* border: 1px solid blue; */
        }
        .ctaGetStarted{
            font-size: var(--Font-Body);
            font-weight: 500;
            padding: 1rem 6rem;
            background-image:linear-gradient(to right, var(--Cyan-CTA-Gr) 0%,var(--Blue-CTA-Gr)100% ) ;
            border-radius: 2rem;
            border-style: none;
        }

        /* -----Feature Section----- */
        .featuresSection{
            background-color: var(--Dark-Blue-Main);
            width: 100%;
        }
        .featureContainer{
            margin: 8rem 4rem;

            
            /* border:1px solid white; */
        }
        .featureIcon{
            transform: scale(.8);
        }
        .featureHeadText{
            font-size: 1.7rem;
            font-weight: 700;
            padding: 1.5rem;
            font-family: Raleway;
        }
        .featurePtext{
            font-size: var(--Font-Body);
        }
        .extraFeatureSection{
            /* border: 1px solid pink; */
            padding: 2rem;
            background-color: var(--Dark-Blue-Main);
        }
        .extraFeatureImgContainer{
            /* border: 1px solid yellow;
            background-color: aqua; */
            width: 100%;
            /* padding: 4rem; */
        }
        .extraFeatureimg{
            width: 80%;
            height: auto;
        }
        .extraFeatureTextContainer{
           text-align: left; 
           padding: 4rem 2rem;
        }
        .headText{
            
            font-size: 1.9rem;
            padding: 1rem;
        }
        .bodyText{
            font-size: 1.55rem ;
            padding: 1rem 0;
        }
        .linkText{
            font-weight: 400;
            font-size: var(--Font-Body);
            color: var(--Cyan-CTA-Gr);
            padding-right: 1rem;
            /* border-bottom: 1px solid var(--Cyan-CTA-Gr); */
        }
        .extraFeatureLinkWrapper{
            display: inline-flex;
            align-items: center;
            padding: .5rem 0;
            border-bottom: 1px solid var(--Cyan-CTA-Gr);
            /* outline: 1px solid pink; */
        }
        

        /* //Testimonial Section */
.testimonialSection{
    display: flex;
    background-color: var(--Dark-Blue-Main);
    flex-direction: column;
    width: 100%;
    padding: 4rem;
    gap: 3rem;
}
.testimonialCard{
    /* border: 1px solid pink; */
    background-color: var(--Dark-Blue-Testimonials);
    border-radius: .5rem;
    text-align: left;
    padding: 2rem;
}
.testimonialAvatar{
    border-radius: 50%;
    height: 2.5rem;
    width: auto;
}
.testimonialBody{
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 1rem 0;
}
.testimonialGiverDetails{
    display: flex;
    align-items: center;
}
.testimonialGiverTextDetails{
    padding: 0 1rem;
    /* outline: 1px solid pink; */
}


        /* @media screen and (min-width:) {
            
        } */